<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
   <akka>
      <hocon>
         <![CDATA[
               globomantics {
                  number-of-recommendations = 3
               }
               
					akka {
						actor {
                     provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                     
                     deployment {
                        /views {
                           router = round-robin-pool
                           nr-of-instances = 10
                           cluster {
                              enabled = on
                              max-nr-of-instances-per-node = 1
                              use-role = api
                           }
                        }
                        
                        /videoDetails {
                           router = round-robin-pool
                           nr-of-instances = 100
                           cluster {
                              enabled = on
                              max-nr-of-instances-per-node = 5
                              use-role = api
                           }
                        }
                     }
                  }
                  
                  remote {
                    helios.tcp {
                      hostname = "127.0.0.1"
                      port = 0
                    }
                  }            

                  cluster {
                    seed-nodes = ["akka.tcp://globomantics@127.0.0.1:4053"]
                    roles = [api]
                  }
               }
			]]>
      </hocon>
   </akka>
</configuration>