<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
   <akka>
      <hocon>
         <![CDATA[
               globomantics {
                  number-of-recommendations = 3
               }
               
					akka {
						actor {
                     deployment {
                        /views {
                           router = round-robin-pool
                           nr-of-instances = 2
                        }
                        
                        /videoDetails {
                           router = round-robin-pool
                           nr-of-instances = 5
                        }
                  }
               }
			]]>
      </hocon>
   </akka>
</configuration>