<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
   <akka>
      <hocon>
         <![CDATA[
					akka {
						actor {
                     provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                     
                     deployment {
                        /api {
                           router = round-robin-group
                           routees.paths = ["/user/api"]
                           cluster {
											enabled = on
											max-nr-of-instances-per-node = 1
											allow-local-routees = off
											use-role = api
									}
                        }
                     }
                  }
                  
                  remote {
                    helios.tcp {
                      hostname = "127.0.0.1"
                      port = 0
                    }
                  }            

                  cluster {
                    seed-nodes = ["akka.tcp://globomantics@127.0.0.1:4053"]
                    roles = [client]
                    role {
                        # at least 1 of each role to operate
                        statefulWorker.min-nr-of-members = 1
                        statelessWorker.min-nr-of-members = 1
                        lighthouse.min-nr-of-members = 1
                        api.min-nr-of-members = 1
                     }
                  }
               }
			]]>
      </hocon>
   </akka>
</configuration>