<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
   <akka>
      <hocon>
         <![CDATA[
					akka {
						actor { 
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
						}
						remote {
							helios.tcp {
								hostname = 127.0.0.1
								port = 0
							}
						}
                  cluster {
							seed-nodes = ["akka.tcp://MyActorSystem@127.0.0.1:4053"]
						}
					}
			]]>
      </hocon>
   </akka>
</configuration>